<div class="jumbotron jumbotron-fluid jumbotron-new-edit">
  <h1 class="create-title">Create a new cocktail!</h1>
</div>

<div class="container w-50">
    <div class="form-create">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
</div>
