.form-create {
  // height: 30vh;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  margin: 40px 0;
}

.create-title {
  padding: 20px 0;
  text-align: center;
}

.page {
  height: 100vh;
}
