.cocktail-card {
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgb(209, 209, 209);

  img {
    border-radius: 5px 5px 0 0;
  }
}

.ingredient_card {
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  flex-grow: 1;
}

.ingredients {
  padding: 20px;
}

.card-image {
  height: 300px;
  width: 100%;
  background-position: center;
}

.card-image-empty {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(179, 179, 179);
}

.individual-image-card {
  img {
    border-radius: 10px 0 0 10px;
  }
  min-width: 400px;
}

.info-card {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  box-shadow: 3px 3px 7px rgb(209, 209, 209);
  border-radius: 10px;
}

.my-container {
  width: 50%;
  margin: 50px auto 100px auto;
}

@media(max-width: 768px) {
  .info-card {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0;
    box-shadow: 3px 3px 7px rgb(209, 209, 209);
    border-radius: 10px;
  }

  .individual-image-card {
    img {
      width: 90vw;
      height: 250px;
      border-radius: 10px;
    }
  }

}

