.jumbotron-edit {
  height: 60vh;
  padding: 120px 0;
  background-image: asset-url('header-2.jpg');
  background-size: cover;
  background-origin: end;
  color: white;
}

// .jumbo-title {
//   color: white;
// }
